<a routerLink="/acceuil/liste/referentiels" pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger mt-3"></a>

<hr>

<div class="addReferentiel mx-auto mt-4">
  <h2 class="addReferentiel-header">Ajout d'un Référentiel</h2>
  <div class="addReferentiel-container">
    <form [formGroup]="addingReferentiel" class="example-form" (ngSubmit)="onClickBtnAdd()">
      <div class="container">
        <div class="row">
          <article class="col-4">
            <mat-form-field class="example-full-width">
              <mat-label>Libellé</mat-label>
              <input matInput [formControl]="libelleFormControl" placeholder="Libelle" required>
              <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
              <mat-label>Presentation</mat-label>
              <input matInput [formControl]="presentationFormControl" placeholder="Presentation" required>
              <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
          </article>

          <article class="col-4">
            <mat-form-field class="example-full-width">
              <mat-label>Critére d'admission</mat-label>
              <input matInput [formControl]="critereAdmissionFormControl" placeholder="Critére d'admission" required>
              <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Critére d'évaluation</mat-label>
              <input matInput [formControl]="critereEvaluationFormControl" placeholder="Critére d'évaluation" required>
              <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>

          </article>

          <article class="col-4">

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Groupe Competence</mat-label>
              <mat-select [formControl]="grpCompetenceFormControl" multiple>
                <mat-option *ngFor="let grpCompetence of grpCompetenceList" [value]="grpCompetence.id">{{grpCompetence.libelle}}</mat-option>
              </mat-select>
            </mat-form-field>

              <!-- <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                      multiple="multiple" accept=".pdf" maxFileSize="1000000">
                      <ng-template pTemplate="content">
                          <ul *ngIf="uploadedFiles.length">
                              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                          </ul>
                      </ng-template>
              </p-fileUpload> -->

          </article>

        </div>
      </div>
      <div class="row justify-content-center">
        <p>
          <input type="submit" value="Ajouter">
        </p>
      </div>
    </form>
  </div>
</div>