<a routerLink="/acceuil/ajouter/promo" pButton pRipple icon="pi pi-plus" class="p-button-rounded mt-3"></a>

<hr>

<div class="row mt-4">
  <div class="col-md-4 mb-3" *ngFor="let promo of promos">
    <p-card header="{{promo.titre}}" styleClass="p-card-shadow">
      <p>
        {{promo.description | summarize:30}}
      </p>
      <p-accordion [activeIndex]="index" (click)="closeAccordion()">
        <p-accordionTab header="Referentiels" (click)="showRefByPromoId(promo.id)" routerLink="{{promo.id}}/referentiels">
          <div>
            <p>{{referentielLibelle}}</p>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Critére admission">
          <p></p>
        </p-accordionTab>
        <p-accordionTab header="Critére évaluation">
          <p></p>
        </p-accordionTab>
      </p-accordion>
      <ng-template pTemplate="footer">
        <button routerLink="{{promo.id}}/modifier" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
      </ng-template>
    </p-card>
  </div>
</div>


<!-- <a class="btn btn-success mt-3" routerLink="/acceuil/ajouter/promo" [innerText]="btnNewPromo" style="font-size:1.25vw;"></a>

<hr>

<div class="row mt-4">
  <div class="col-md-4 mb-3" *ngFor="let promo of promos">
    <div class="card text-center text-light">
      <div class="card-body">
        <p class="card-text"><strong>Titre : </strong>{{promo.titre}}</p>
        <p class="card-text"><strong>Description : </strong>{{promo.description | summarize:30}}</p>
        <p class="card-text"><strong>Annee : </strong>{{promo.annee | date }}</p>
        <p class="card-text"><strong>Fabrique : </strong>{{promo.fabrique}}</p>
        <p class="card-text"><strong>Lieu : </strong>{{promo.lieu}}</p>
        <p class="card-text"><strong>Date de Début : </strong>{{promo.dateDebut | date }}</p>
        <p class="card-text"><strong>Date de Fin (provisoire) : </strong>{{promo.dateFinProvisoire | date }}</p>
        <div class="row card-footer">
          <a (click)="onClickBtnDetails(promo.id)" class="btn btn-warning mr-auto" routerLink="{{promo.id}}/details">Détails</a>
          <a (click)="onClickBtnPut(promo.id)" routerLink="{{ promo.id }}/modifier" data-target="#updateModal" data-toggle="modal" class="btn btn-primary">Modifier</a>
        </div>
      </div>
        <div class="card-footer text-muted">
          {{event.date | date:'shortDate'}}
        </div>
    </div>
  </div>
</div>


<hr>

<div *ngIf="currentRoute()">
  <router-outlet></router-outlet>
</div>

<script>
  $(document).ready(function () {
    var theHREF;
    let table = document.querySelector('table');

    $("#confirmModalYes").click(function(e) {
      $("#updateModal").modal("close");
    });
});
</script> -->