<a routerLink="/acceuil/ajouter/formateur" pButton pRipple icon="pi pi-plus" class="p-button-rounded mt-3" style="background-color: rgb(74, 122, 110);"></a>

<hr>

<div class="card">
  <p-table id="p-table" styleClass="p-datatable-responsive-demo" dataKey="id" editMode="row" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"
        [value]="formateurs">
      <ng-template pTemplate="header">
          <tr>
              <th style="text-align:center">Prenom</th>
              <th style="text-align:center">Nom</th>
              <th style="text-align:center">Email</th>
              <th style="text-align:center">Adresse</th>
              <th style="text-align:center">Actions</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-formateur let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="formateur">
            <td style="text-align:center">
                  {{formateur.prenom}}
            </td>
            <td style="text-align:center">
                  {{formateur.nom}}
            </td>
            <td style="text-align:center">
                  {{formateur.email}}
            </td>
            <td style="text-align:center">
                  {{formateur.adresse}}
            </td>
            <td style="text-align:center">
              <button  routerLink="{{formateur.id}}/modifier" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
              <p-confirmPopup></p-confirmPopup>
              <button *ngIf="!editing" routerLink="{{ formateur.id }}/delete" (click)="confirm($event)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
          </tr>
      </ng-template>
  </p-table>
</div>

<!-- <p-splitter [style]="{'height': '300px'}">
  <ng-template>
      Panel 1
  </ng-template>
  <ng-template>
      Panel 2
  </ng-template>
</p-splitter> -->