<div class="card">
      <p-table id="p-table" dataKey="id" editMode="row" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" 
            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"
            styleClass="p-datatable-striped" [value]="elements1">
          <ng-template pTemplate="header">
              <tr>
                  <th style="text-align:center">Libelle</th>
                  <th style="text-align:center">Actions</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-profil let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="profil">
                  <td  style="text-align:center">
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="profil.libelle">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{profil.libelle}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td style="text-align:center">
                      <button routerLink="{{ profil.id }}/details" (click)="onClickBtnDetails(profil.id)" pButton pRipple type="button" icon="pi pi-sort-amount-down" class="p-button-rounded p-button-text p-button-warning p-mr-2"></button>
                      <button *ngIf="!editing" (click)="onRowEditInit(profil)" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                      <button *ngIf="editing" (click)="onRowEditSave(profil, profil.id)" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                      <button *ngIf="editing" (click)="onRowEditCancel(profil, ri)" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger"></button>
                      <p-confirmPopup></p-confirmPopup>
                      <button routerLink="{{ profil.id }}/delete" (click)="confirm($event)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </div>

  <div *ngIf="currentRoute()">
    <router-outlet></router-outlet>
  </div>