
<a routerLink="/acceuil/ajouter/competence" pButton pRipple icon="pi pi-plus" class="p-button-rounded mt-3"></a>

<div class="row mt-3">
  <div class="col-md-12 mb-3">
    <p-splitter [panelSizes]="[40,80]" [minSizes]="[10,0]" styleClass="p-mb-5">
      <ng-template>
          <div class="p-col p-d-flex p-ai-center p-jc-center">
            <div class="mt-2 ml-2">
              <p-dropdown [options]="grpCompetencesList" [(ngModel)]="selectedGroupe" optionLabel="libelle" [filter]="true" filterBy="libelle" [showClear]="true" [style]="{'width': '70%'}" placeholder="Groupe compétences">
                  <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="selectedGroupe">
                          <div>{{selectedGroupe.libelle}}</div>
                      </div>
                  </ng-template>
                  <ng-template let-grpCompetence pTemplate="item">
                      <div class="country-item" (click)="onClickGrpCompetence(grpCompetence.id)">
                          <div>{{grpCompetence.libelle}}</div>
                      </div>
                  </ng-template>
              </p-dropdown>
            </div>
            <div class="card mt-3">
              <p-table [value]="competencesList" selectionMode="single" [(selection)]="selectedCompetence" [scrollable]="true" scrollHeight="300px" dataKey="id">
                  <ng-template pTemplate="header">
                      <tr>
                          <th>Compétence libelle</th>
                          <th>Modifier</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-competence>
                      <tr>
                          <td [pSelectableRow]="competence" (click)="onClickCompetence(competence.id)">
                            {{competence.libelle}}
                            <button pButton pRipple type="button" icon="pi pi-sort-amount-down" class="p-button-rounded p-button-text p-button-warning float-right"></button>
                          </td>
                          <td>
                            <button routerLink="{{competence.id}}/modifier" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-success"></button>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
            </div>
          </div>
      </ng-template>
      <ng-template>
          <p-splitter layout="vertical" [panelSizes]="[15,85]">
              <ng-template>
                  <div class="p-col p-d-flex p-ai-center p-jc-center">
                    <p-tabView>
                      <p-tabPanel header="Niveau 1" *ngIf="niveaux.length==0">
                        <div class="mt-3">
                        </div>
                      </p-tabPanel>
                      <p-tabPanel header="Niveau 2" *ngIf="niveaux.length==0">
                        <div class="mt-3">
                        </div>
                      </p-tabPanel>
                      <p-tabPanel header="Niveau 3" *ngIf="niveaux.length==0">
                        <div class="mt-3">
                        </div>
                      </p-tabPanel>
                      <p-tabPanel *ngFor="let niveau of niveaux" header="{{niveau.libelle}}">
                        <div class="mt-3">
                          <p-card header="Critère d'évaluation" class="float-left" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
                            <ng-template pTemplate="header">
                            </ng-template>
                            <p>{{niveau.critereEvaluation | summarize:60}}</p>
                          </p-card>
                          <p-card header="Groupe d'actions" class="float-left" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
                            <ng-template pTemplate="header">
                            </ng-template>
                            <p>{{niveau.groupeAction | summarize:60}}</p>
                          </p-card>
                          <!-- <div class="col-6 d-inline float-left">
                            {{niveau.groupeAction}}
                          </div> -->
                        </div>
                      </p-tabPanel>
                    </p-tabView>
                  </div>
              </ng-template>
          </p-splitter>
      </ng-template>
    </p-splitter>
  </div>
</div>

