
<div class="card" #cardToPrint>
  <p-fieldset legend="{{referentiel.libelle}}">
    <p-fieldset legend="Présentation">
      {{referentiel.presentation}}
    </p-fieldset>
    <p-fieldset legend="Critére évaluation">
      {{referentiel.critereEvaluation}}
    </p-fieldset>
    <p-fieldset legend="Critére d'admission">
      {{referentiel.critereAdmission}}
    </p-fieldset>
    <p-fieldset legend="Groupe compétences">
      <p *ngFor="let groupeCompetence of grpCompetences" style="text-align:center">
        {{groupeCompetence.libelle}}
      </p>
    </p-fieldset>
    <button (click)="openPDF(referentiel.libelle)" pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-warning mt-2"></button>
  </p-fieldset>
  <!-- <p-table id="p-table" dataKey="id">
      <ng-template pTemplate="header">
          <tr>
            <th style="text-align:center">Libelle</th>
            <th style="text-align:center">Presentation</th>
            <th style="text-align:center">Critére Évaluation</th>
            <th style="text-align:center">Critére Admission</th>
            <th style="text-align:center">Actions</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body">
          <tr>
            <td style="text-align:center">
              {{libelle}}
            </td>
            <td style="text-align:center">
              {{libelle}}
            </td>
            <td style="text-align:center">
              {{libelle}}
            </td>
            <td style="text-align:center">
              {{libelle}}
            </td>
            <td style="text-align:center">
              <button routerLink="/groupecompetences/imprimer" (click)="openPDF(idReferentiel,libelle)" pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-warning"></button>
            </td>
        </tr>
      </ng-template>
  </p-table> -->
</div>