
<hr>

<div class="text-center" *ngIf="grpCompetences.length>0">
  <mat-label class="text-white">Voici la liste des groupe de compétences associés à ce référentiel</mat-label>
  <div class="mat-table table-striped table-bordered mt-2">
    <table class="text-white w-100">
      <thead>
        <tr>
          <th class="text-center">libelle</th>
          <th class="text-center">descriptif</th>
          <th class="text-center">Plus de détails</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grpCompetence of grpCompetences">
          <td class="text-center">{{grpCompetence.libelle}}</td>
          <td class="text-center">{{grpCompetence.descriptif}}</td>
          <td class="text-center">
            <a mat-raised-button class="bg-warning" routerLink="{{ grpCompetence.id }}/competences" (click)="onClickBtnMoreDetails(grpCompetence.id)" [innerText]="btnMoreDeDetail" style="font-size:1.25vw;"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="text-center">
  <mat-label class="text-white" *ngIf="grpCompetences.length<1">{{elseResponse}}</mat-label>
</div>


<div *ngIf="currentRoute()">
  <router-outlet></router-outlet>
</div>
