<a routerLink="/acceuil/ajouter/referentiel" pButton pRipple icon="pi pi-plus" class="p-button-rounded mt-3"></a>

<hr>

<div class="row mt-4">
  <div class="col-md-4 mb-3" *ngFor="let referentiel of referentiels">
    <p-card id="card{{referentiel.id}}" header="{{referentiel.libelle}}" styleClass="p-card-shadow">
      <p>
        {{referentiel.presentation | summarize: 50}}
      </p>
      <p-accordion [activeIndex]="index" (click)="closeAccordion()">
        <p-accordionTab header="Groupe Compétences" (click)="showGrpCompetenceById(referentiel.id)" routerLink="{{referentiel.id}}/groupecompetences">
          <div *ngFor="let groupeCompetence of grpCompetences">
            <p >{{groupeCompetence.libelle}}</p>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Critére admission">
          <p>{{referentiel.critereAdmission}}</p>
        </p-accordionTab>
        <p-accordionTab header="Critére évaluation">
          <p>{{referentiel.critereEvaluation}}</p>
        </p-accordionTab>
      </p-accordion>
      <ng-template pTemplate="footer">
        <button routerLink="{{referentiel.id}}/modifier" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
        <button (click)="load(referentiel.id)" pButton pRipple type="button" icon="pi pi-sort-amount-down" class="p-button-rounded p-button-text p-button-warning p-mr-2"></button>
      </ng-template>
    </p-card>
  </div>
</div>

<div *ngIf="currentRoute()">
<router-outlet></router-outlet>
</div>

