<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand text-white">Prenom <br> NOM</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">

    <!--Le routage est fait selon l'utilisateur qui se connecte-->
  <app-admin *ngIf="urlAdmin()===true"></app-admin>
  <app-formateur *ngIf="urlFormateur()===true"></app-formateur>
  <app-cm *ngIf="urlCm()===true"></app-cm>
  <app-apprenant *ngIf="urlApprenant()===true"></app-apprenant>

  </div>

</nav>
<h3 class="text-center text-white">ACCEUIL</h3>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item">Dapibus ac facilisis in</li>
  </ul>
</div>
