<a class="btn btn-success mt-3" routerLink="/acceuil/ajouter/admin" [innerText]="btnNewAdmin" style="font-size:1.25vw;"></a>

<hr>

<div class="mat-table table-striped table-bordered">
    <table class="text-white w-100">
      <thead>
        <tr>
          <th class="text-center">prenom</th>
          <th class="text-center">nom</th>
          <th class="text-center">email</th>
          <th class="text-center">adresse</th>
          <th class="text-center">action</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let admin of admins" id="{{ admin.id }}">
          <td style="display: none;">{{ admin.id }}</td>
          <td class="text-center">{{admin.prenom}}</td>
          <td class="text-center">{{admin.nom}}</td>
          <td class="text-center">{{admin.email}}</td>
          <td class="text-center">{{admin.adresse}}</td>
          <td>
            <section>
            <div class="row justify-content-center">
              <a mat-raised-button class="bg-primary col-3" routerLink="{{ admin.id }}/modifier" data-target="#updateModal" data-toggle="modal" [innerText]="btnModifier" style="font-size:1.25vw;"></a>
                <mat-divider [vertical]="true"></mat-divider>
                <mat-divider [vertical]="true"></mat-divider>
                <mat-divider [vertical]="true"></mat-divider>
              <a mat-raised-button class="bg-danger col-3" routerLink="{{ admin.id }}/delete" data-target="#deleteModal" data-toggle="modal" [innerText]="btnSupprimer" style="font-size:1.25vw;"></a>
            </div>
            </section>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- deleteModal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-white" id="deleteModalLabel">Demande de confirmation</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Êtes-vous sure de vouloir supprimer ce profil ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="confirmModalNo()">Non</button>
        <button type="button" id="confirmModalYes" class="btn btn-primary" (click)="onClickBtnDelete()" data-dismiss="modal">Oui, je confirm</button>
      </div>
    </div>
  </div>
</div>
