<div class="addGrpCompetence mx-auto pt-5">
  <h2 class="addGrpCompetence-header">Ajout d'un groupe de competences</h2>
  <div class="addGrpCompetence-container">
    <form [formGroup]="addingGrpCompetence" class="example-form" (ngSubmit)="onClickBtnAdd()">
      <div class="container">
        <div class="row">
          <article class="col-4">
            <mat-form-field class="example-full-width">
              <mat-label>Libellé</mat-label>
              <input matInput [formControl]="libelleFormControl" placeholder="Libelle" required>
              <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
              <mat-label>Descriptif</mat-label>
              <input matInput [formControl]="descriptifFormControl" placeholder="Descriptif" required>
              <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
          </article>
          <article class="col-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Competences</mat-label>
              <mat-select [formControl]="competenceFormControl" multiple>
                <mat-option *ngFor="let competence of competenceList" [value]="competence.id">{{competence.libelle}}</mat-option>
              </mat-select>
            </mat-form-field>
          </article>
        </div>
      </div>
      <div class="row justify-content-center">
        <p>
          <input type="submit" value="Ajouter">
        </p>
      </div>
    </form>
  </div>
</div>