<div class="addGrpCompetence mx-auto pt-5">
  <h2 class="addGrpCompetence-header">Ajout d'un groupe de competences</h2>
  <div class="addGrpCompetence-container">
    <form [formGroup]="addingGrpCompetence" class="example-form" (ngSubmit)="onClickBtnAdd()">
      <div class="container">
        <div class="row">
          <article class="col-4">
            <mat-form-field class="example-full-width">
              <mat-label>Libellé</mat-label>
              <input matInput [formControl]="libelleFormControl" placeholder="Libelle" required>
              <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
              <mat-label>Descriptif</mat-label>
              <input matInput [formControl]="descriptifFormControl" placeholder="Descriptif" required>
              <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
          </article>

          <article class="col-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Competences</mat-label>
              <mat-select [formControl]="competenceFormControl" multiple>
                <mat-option *ngFor="let competence of competenceList" [value]="competence.id">{{competence.libelle}}</mat-option>
              </mat-select>
            </mat-form-field>
            <a (click)="disableState()" label="Ajouter un compétences" pButton pRipple icon="{{btnState()}}" class="p-button-rounded p-button-primary mt-1 float-right"></a>
          </article>

          <article col="col-4" *ngIf="disabled===true">
            <mat-form-field class="example-full-width">
              <mat-label>Compétence libellé</mat-label>
              <input matInput [formControl]="competenceLibelleFormControl" placeholder="Libelle" required>
              <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
              <mat-label>Compétence descriptif</mat-label>
              <input matInput [formControl]="competenceDescriptifFormControl" placeholder="Descriptif" required>
              <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
          </article>
        </div>
      </div>
      <div class="row justify-content-center">
        <p>
          <input type="submit" value="Ajouter">
        </p>
      </div>
    </form>
  </div>
</div>

<!-- <p-multiSelect [options]="competenceList" [(ngModel)]="selectedCompetence">
              <ng-template let-competence pTemplate="item">
                <div class="country-item country-item-value"  *ngIf="selectedCompetence">
                  <div>{{selectedCompetence.libelle}}</div>
                </div>
                <div class="country-item">
                    <div>{{competence.libelle}}</div>
                </div>
                </ng-template>
            </p-multiSelect> -->
            <!-- <p-dropdown [options]="competenceList" [(ngModel)]="selectedCompetence" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value"  *ngIf="selectedCompetence">
                    <div>{{selectedCompetence.libelle}}</div>
                </div>
              </ng-template>
              <ng-template let-competence pTemplate="item">
                <div class="country-item">
                    <div>{{competence.libelle}}</div>
                </div>
                </ng-template>
            </p-dropdown> -->
              <!-- <p-listbox [options]="competenceList" [(ngModel)]="competenceList" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="Compétences" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
                <ng-template let-competence pTemplate="item">
                    <div class="country-item">
                        <div>{{competence.libelle}}</div>
                    </div>
                </ng-template>
              </p-listbox> -->