<a routerLink="/acceuil/ajouter/groupeCompetence" pButton pRipple icon="pi pi-plus" class="p-button-rounded mt-3"></a>

<hr>

<div class="row mt-4">
  <div class="col-md-4 mb-3" *ngFor="let grpCompetence of grpCompetences">
    <p-card header="{{grpCompetence.libelle}}" styleClass="p-card-shadow">
      <p>
        {{grpCompetence.descriptif | summarize: 50}}
      </p>
      <p-accordion [activeIndex]="index" (click)="closeAccordion()">
        <p-accordionTab header="Compétences" (click)="showCompetencesById(grpCompetence.id)" routerLink="{{grpCompetence.id}}/competences">
          <div *ngFor="let competence of competences">
            <p >{{competence.libelle}}</p>
          </div>
        </p-accordionTab>
      </p-accordion>
      <ng-template pTemplate="footer">
        <button routerLink="{{grpCompetence.id}}/modifier" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
        <p-confirmPopup></p-confirmPopup>
        <button (click)="confirm($event)" routerLink="{{grpCompetence.id}}/delete" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"></button>
      </ng-template>
    </p-card>
  </div>
</div>
<!-- 
<hr>

<div *ngIf="currentRoute()">
  <router-outlet></router-outlet>
</div> -->
