<div class="addCompetence mx-auto pt-3">
    <h2 class="addCompetence-header">Ajout d'une competence</h2>
    <div class="addCompetence-container">
      <form [formGroup]="addingCompetence" class="example-form" (ngSubmit)="onClickBtnAdd()">
        <div class="container">
          <div class="row">
            <article class="col-4">
              <mat-form-field class="example-full-width">
                <mat-label>Libellé</mat-label>
                <input matInput [formControl]="libelleFormControl" placeholder="Libelle" required>
                <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
              </mat-form-field>
        
              <mat-form-field class="example-full-width">
                <mat-label>Descriptif</mat-label>
                <textarea matInput [formControl]="descriptifFormControl" placeholder="Descriptif" required></textarea>
                <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
              </mat-form-field>
            
            </article>
            
            <article class="col-8">
                <p-tabView>
                  <p-tabPanel header="Niveau 1">
                    <div class="mt-3">
                    <mat-form-field class="example-full-width">
                        <mat-label style="color: black;">Critére évaluation</mat-label>
                        <textarea matInput [formControl]="niveauCritereEvaluation1FormControl" placeholder="Critére d\'évaluation"></textarea>
                        <hr>
                        <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label style="color: black;">Groupe d'actions</mat-label>
                        <textarea matInput [formControl]="niveauGroupeAction1FormControl" placeholder="Groupe d\'action"></textarea>
                        <hr>
                        <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="Niveau 2">
                    <div class="mt-3">
                    <mat-form-field class="example-full-width">
                        <mat-label style="color: black;">Critére évaluation</mat-label>
                        <textarea matInput [formControl]="niveauCritereEvaluation2FormControl" placeholder="Critére d\'évaluation"></textarea>
                        <hr>
                        <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label style="color: black;">Groupe d'actions</mat-label>
                        <textarea matInput [formControl]="niveauGroupeAction2FormControl" placeholder="Groupe d\'action"></textarea>
                        <hr>
                        <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="Niveau 3">
                    <div class="mt-3">
                    <mat-form-field class="example-full-width">
                        <mat-label style="color: black;">Critére évaluation</mat-label>
                        <textarea matInput [formControl]="niveauCritereEvaluation3FormControl" placeholder="Critére d\'évaluation"></textarea>
                        <hr>
                        <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label style="color: black;">Groupe d'actions</mat-label>
                        <textarea matInput [formControl]="niveauGroupeAction3FormControl" placeholder="Groupe d\'action"></textarea>
                        <hr>
                        <!-- <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                    </div>
                  </p-tabPanel>
                </p-tabView>
            </article>
          </div>
          <div class="row justify-content-center mt-3">
            <p>
              <input type="submit" value="Ajouter">
            </p>
        </div>
        </div>
      </form>
    </div>
  </div>