/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


.putReferentiel {
  width: 100%;
  font-size: 16px;
}

.putReferentiel-header,
.putReferentiel p {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid black;
}

.putReferentiel-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(15, 66, 107);
}

.putReferentiel-header {
  background: rgb(74, 122, 110);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.putReferentiel-container {
  background: rgb(143, 216, 198);
  padding: 9px;
  width: 100%;
}

.putReferentiel p {
  padding: 9px;
  width: 30%;
}

.putReferentiel input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 7px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

/*.putReferentiel input[type="email"],
.putReferentiel input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}*/

.putReferentiel input[type="prenom"]:focus,
.putReferentiel input[type="nom"]:focus,
.putReferentiel input[type="email"]:focus,
.putReferentiel input[type="password"]:focus,
.putReferentiel input[type="adresse"]:focus,
.putReferentiel input[type="telephone"]:focus{
  border-color: #888;
}

.putReferentiel input[type="submit"] {
  background: rgb(88, 143, 129);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.putReferentiel input[type="submit"]:hover {
  background:rgb(74, 122, 110);
  border-color: rgb(1, 29, 51);
}

.putReferentiel input[type="submit"]:focus {
  border-color: rgb(1, 29, 51);
}

/*Material Angular*/

/*Email Input*/

.example-form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 100%;
}

.example-full-width {
  width: 100%;
}


/*Password Input*/

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}