
      <ul class="navbar-nav">
        <!--<li class="nav-item">
          <a href="" class="nav-link"></a>
        </li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lister
          </a>
          <div class="dropdown-menu bg-dark border met-2" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-white bg-dark" routerLink="liste/profils">Profils</a>
            <a class="dropdown-item text-white bg-dark" routerLink="liste/admins">Admins</a>
            <a class="dropdown-item text-white bg-dark" routerLink="liste/formateur">Formateurs</a>
            <a class="dropdown-item text-white bg-dark" routerLink="liste/cm">Cm</a>
            <a class="dropdown-item text-white bg-dark" routerLink="liste/apprenant">Apprenants</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ajouter
          </a>
          <div class="dropdown-menu bg-dark border met-2" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-white bg-dark" routerLink="ajouter/profil">Profil</a>
            <a class="dropdown-item text-white bg-dark" routerLink="ajouter/admin">Admin</a>
            <a class="dropdown-item text-white bg-dark" routerLink="ajouter/formateur">Formateur</a>
            <a class="dropdown-item text-white bg-dark" routerLink="ajouter/cm">Cm</a>
            <a class="dropdown-item text-white bg-dark" routerLink="ajouter/apprenant">Apprenant</a>
          </div>
        </li>
    </ul>
