<a routerLink="/acceuil/ajouter/apprenant" pButton pRipple icon="pi pi-plus" class="p-button-rounded mt-3"></a>

<hr>

<div class="card">
  <p-table id="p-table" styleClass="p-datatable-responsive-demo" dataKey="id" editMode="row" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"
        [value]="apprenants">
      <ng-template pTemplate="header">
          <tr>
              <th style="text-align:center">Prenom</th>
              <th style="text-align:center">Nom</th>
              <th style="text-align:center">Email</th>
              <th style="text-align:center">Adresse</th>
              <th style="text-align:center">Actions</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-apprenant let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="apprenant">
          <td style="text-align:center">
            <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apprenant.prenom">
              </ng-template>
              <ng-template pTemplate="output">
                  {{apprenant.prenom}}
              </ng-template>
          </p-cellEditor>
          </td>
          <td style="text-align:center">
            <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apprenant.nom">
              </ng-template>
              <ng-template pTemplate="output">
                  {{apprenant.nom}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apprenant.email">
              </ng-template>
              <ng-template pTemplate="output">
                  {{apprenant.email}}
              </ng-template>
          </p-cellEditor>
          </td>
          <td style="text-align:center">
            <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apprenant.adresse">
              </ng-template>
              <ng-template pTemplate="output">
                  {{apprenant.adresse}}
              </ng-template>
          </p-cellEditor>
          </td>
          <td style="text-align:center">
            <!-- <button  routerLink="{{apprenant.id}}/modifier" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-text"></button> -->
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(apprenant)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(apprenant, apprenant.id)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(apprenant, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
              <p-confirmPopup></p-confirmPopup>
              <button *ngIf="!editing" routerLink="{{ apprenant.id }}/delete" (click)="confirm($event)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
          </tr>
      </ng-template>
  </p-table>
</div>

<!-- <p-splitter [style]="{'height': '300px'}">
  <ng-template>
      Panel 1
  </ng-template>
  <ng-template>
      Panel 2
  </ng-template>
</p-splitter> -->